extends layout

block content
  section.jumbotron.text-center
    .container
      h1 About
      p.lead.text-muted
        | Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
      






  footer
    .container.text-center
        p
            | © Copyrights 2020 Jose Juarez. All Rights Reserved.
        p
            a(href='#') Back to top